@model FootballLeagueApp.Entities.Team

<h3>Takımı Silmek İstediğinden Emin Misin?</h3>
<div>
    <form asp-action="Delete">
        <input type="submit" value="Sil" class="btn btn-danger" /> |
        <a asp-action="Index">Takım Listesine Geri Dön</a>
    </form>
</div>
