@model FootballLeagueApp.DTOs.Requests.StadiumRequests.CreateNewStadiumRequest

<h3>Stadyum Ekle</h3>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                Stadyum Adı
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                Stadyum Kapasitesi
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                Stadyum Adresi
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                Takımlar
                <select asp-for="TeamId" class="form-control"  asp-items="ViewBag.Teams"  >
                    <option hidden="" value="" disabled selected>Lütfen Takım Seçiniz</option>
                </select>
                <span asp-validation-for="TeamId" class="text-danger"></span>
                <br />
            </div>
            <div class="form-group">
                <input type="submit" value="Stadyum Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <br />
    <a asp-controller="Stadium" asp-action="Index">Stadyum Listesine Dön</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
